.table-dark {
  background-color: var(--blackColor) !important;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255,255,255,.05) !important;
}

.table-dark.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(255,255,255,.05) !important;
}

.donate-btns button {
  display:inline-block;
  margin-left: 10px;
}

form .indicator {
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

form .indicator span {
  width: 100%;
  height: 100%;
  background: lightgrey;
  border-radius: 5px;
  position: relative;
}

form .indicator span.medium {
  margin: 0 3px;
}

form .indicator span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  border-radius: 5px;
}

form .indicator span.weak:before {
  background-color: #ff4757;
}

form .indicator span.medium:before {
  background-color: orange;
}

form .indicator span.strong:before {
  background-color: #23ad5c;
}

form .indicator-text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: -10px;
}

form .indicator-text.weak {
  color: #ff4757;
}

form .indicator-text.medium {
  color: orange;
}

form .indicator-text.strong {
  color: #23ad5c;
}

.box-style1 .entry {
  border: 1px solid #252525;
  background: #1e1c1f;
  padding: 20px 25px 0px 25px;
}

.password-policies {
  position: relative;
  padding: 20px;
  background: #322F33;
  border-radius: 5px;
  margin-top: 10px;
  box-sizing: border-box;
  display: none;
}

.password-policies h3 {
  margin-bottom: 15px;
  color: #000;
}

.password-policies p {
  margin-bottom: 10px;
  padding-left: 30px;
}

.invalid {
  color: rgb(221, 0, 0);
}

.invalid:before {
  position: relative;
  left: -15px;
  content: "✖";
}

.valid {
  color: rgb(12, 167, 92);
}

.valid:before {
  position: relative;
  left: -15px;
  content: "✔";
}

#register_form .input, #login_form .input {
  margin-top: 20px !important;
}

.field-icon2 {
  float: right;
        margin-right: 6px;
        margin-top: -20px;
        position: relative;
        z-index: 2;
}

.quickMenu ul {
  list-style-type: none;
}

.quickMenu ul li {
  padding: 15px 0 5px 0;
}

.username-underline {
  width: 300px;
  border-bottom: 1px solid #c2d4f8;
  margin-top: 5%;
  position:relative;
  top: 0;
  left: 15px;
}
